@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,600,600italic,700);

/* standard */
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #51545B;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  padding: 0 10px;
}
a:link {
  color: #55A3CA;
  text-decoration: none;
}
a:visited {
  color:#6824E5;
}
a:hover {
  color:#E53724 /* #E7A024*/;
  text-decoration: underline;
}
header {
  color:#ffffff;
  z-index:9999;
  background: #373A41;
  min-height: 60px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
header nav {
  margin-top: 2px;
}
header nav a:link {
  color: #ffffff;
  border-radius: 2px;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 3px 6px;
}
header nav a:visited {
  color: #ffffff;
}
header nav a:hover {
  background-color: #55A3CA;
  text-decoration: none;
}
nav#small {
  cursor: pointer;
  display:inline;
  float:right;
  padding: 21px 0 10px 10px;
  width:2.5rem;
}
nav#large {
  background-color: #373A41;
  bottom: 0;
  height: 100%;
  padding: 16px 10px 0 10px;
  position: fixed;
  right: -200px;
  top: 0;
  width: 180px;
}

#logo {
  color: #ffffff;
  position: fixed;
  top: 17px;
  left: 10px;
  margin: 0;
}
#logo a {
  color: #ffffff;
  text-decoration: none;
}

p, ol, ul, li, address {
  color: #51545B;
  font-weight: normal;
  line-height: 150%;
  margin: 0 0 20px;
}
strong, b {
  color: #212326;
}
.caption {
  color: #777777;
  font-size: 1.2rem;
  margin-top: 5px;
}
#help-text {
  color: #D95752;
  font-weight: 600;
  margin: 5px 0 0;
}
#help-text.good {
  color: #99BD62;
}
li {
  margin-bottom: 5px;
}
dl {
  font-size: 14px;
}
dd {
  color: #212326;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6 {
  color: #212326;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}
h1 {
  font-size: 3.6rem;
}
h2 {
 font-size: 3.0rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h5.tract {
  font-weight: normal;
}
h5 #stat-tract {
  color: #212326;
  font-size: 18px;
  font-weight: 600;
}
.data h6 {
  font-weight: normal;
  margin-top: 3px;
}
h6 {
  font-size: 1.4rem;
}
hr {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 4rem 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
#title .content {
  margin-bottom: 0;
}
#title .content p {
  margin-bottom: 0;
}
#map-c .content {
  margin-top: 20px;
}
.content {
  margin: 85px auto 50px auto;
  position: relative;
  width: 96%;
}

.title {
  line-height: 1.2;
  margin: 0 0 25px 0;
}

.intro {
  color: #212326;
  font-size: 1.8rem;
}

#map, figure.large, table.large  {
  margin: 0 auto;
  max-width: 100%;
}
figure.large img {
  max-width: 100%;
}

#map {
  background-color: #dddddd;
  height: 200px;
  margin-bottom: 20px;
}

#map-legend span {
  display: block;
  height: 15px;
  width: 30px;
}

.img {
  background-color: #dddddd;
  color: #ffffff;
  height: 280px;
  padding: 10px;
}

aside, .aside {
  font-size: 1.4rem;
  margin-top: 20px;
}
aside.text {
  border-left: 1px solid #dddddd;
  padding-left: 10px;
}
aside h5 {
  line-height: 1.2;
  margin: 0 0 5px 0;
}
aside h5:nth-of-type(2) {
  margin-top:20px;
}
aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hgroup {
  margin: 0 0 25px 0;
}
hgroup h2 {
  font-size: 1.6rem;
  margin-bottom: 0;
}
hgroup h4 {
  font-size: 3.0rem;
  margin-top: 10px;
  line-height: 1.2;
}
blockquote {
  border-left: 3px solid #dddddd;
  color: #666666;
  font-style: italic;
  font-weight: normal;
  padding-left: 20px;
}
blockquote p {
  color: #666666;
}

input {
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  padding: 4px;
}

table {
  font-family: "Source Sans Pro";
  font-size: 1.4rem;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}
th {
  text-align: left;
}
.table {
  font-size: 12px;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  color: #212326;
}
.table > thead:last-child > tr > th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table caption {
  color: #212326;
  font-weight: bold;
}

@media (min-width: 600px) {
  aside.text {
    float:right;
    margin-left: 20px;
    width: 200px;
  }
  #map-c .content {
    width: 1200px;
  }
  .content {
    width: 590px;
  }
}

@media (min-width: 780px) {
  nav#small {
    display: none;
  }
  nav#large {
    height: auto;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 0;
    width: 600px;
  }
  nav#large a {
    display: inline;
  }
  figure.large img {
    max-width: 100%;
  }
  figure.aside {
    float:right;
    margin-left: 20px;
    width: 200px;
  }
  figure.aside.left {
    float:left;
    margin-left: 0;
    margin-right: 20px;
    width: 200px;
  }
}

@media (min-width: 800px) {
  #map-c .content {
    width: 760px;
  }
  .data {
    *zoom: 1;
  }
  .data:before,
  .data:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .data:after {
    clear: both;
  }
  .data .sect-divider {
    float: left; width: 45%; margin-right: 5%;
  }
  #map-legend {
    float: none;
  }
}
@media (min-width: 1210px) {
  .avatar {
    float: none;
    margin-right: 0;
  }
  .byline h6.date {
    border-top: 1px solid #dddddd;
    color: #999999;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  .content {
    width: 45.833333%;
  }
  #map-c .content {
    width: 1200px;
  }
  .data {
    float: left;
    width: 66.66666%;
  }
  .data:after {
    clear: none;
  }
  .data .sect-divider {
    float: left; width: 45%; margin-right: 5%;
  }
  #map-legend {
    float: right;
    width: 33.33333%;
  }

  hr {
    width: 875px;
  }


  #map, figure.large, table.large  {
    height: 300px;
    margin:  0 auto;
    max-width: 1200px;
    width: 1200px;
  }

  figure.large img, .large {
    max-width: 100%;
  }
  figure.aside {
    float:none;
    margin-left: inherit;
    width: 50%;
  }

  aside, .aside {
    display: block;
    margin: 25px 0;
    position: absolute;
    right: -325px;
    width: 50%;
  }
  aside.left, figure.left {
    left: -325px;
    margin: 25px 0;
    padding: 0 50px 0 0;
    right: 0;
  }
  aside.text {
    float:none;
    margin-left: 0;
    width: 50%;
  }
  aside.left.text {
    border-left: none;
    border-right: 1px solid #dddddd;
    padding-left: 0;
    padding-right: 10px;
    text-align: left;
  }
  aside.left.text.about {
    border-right: none;
  }
}
