<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>FCC - {{ site.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.desc }} - {{ page.desc }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/map.css" rel="stylesheet">
    <!--[if lte IE 9]>
      <script src="js/html5shiv.js" type="text/javascript"></script>
      <script src="js/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    <script>
      // ga script
    </script>
  </head>

  <body>
    <header>
      <div class="container">
        <h4 id="logo"><a href="http://fcc.gov">FCC</a> - {{ site.title }}</h4>
        <div id="menu">

          <nav id="large">
            <a href="{{ site.baseurl }}/">View the Map</a>
            {% assign about_path = site.baseurl | append: '/about/' %}
            {% if page.path == 'about/index.md' %}
              {% assign about_path = '#about' %}
            {% endif %}
            <a href="{{ about_path }}">About</a>
            {% if page.path == 'about/index.md' %}
            <a href="#faq">FAQ</a>
            {% endif %}
          </nav>
          <nav class="closed" id="small" style="">
            <div>
              <div style="border-radius:20px; background:#ffffff; width:2rem; height:.3rem; margin-bottom:.1rem;"></div>
              <div style="border-radius:20px; background:#ffffff; width:1rem; height:.3rem; margin-bottom:.1rem;"></div>
              <div style="border-radius:20px; background:#ffffff; width:1.5rem; height:.3rem;"></div>
            </div>
          </nav>
        </div>
      </div>
    </header>
