{% include header.html %}

<div id="title" class="container">
    <div class="content">
        <h3>CAM Cost Map</h3>
        <p class="caption">Zoom in to display tract level details on mouseover / touch below.</p>
        <p class="caption">Compatible with current versions of Chrome, Firefox, or Safari browsers.</p>
    </div>
</div>
<div id="map-c" class="container">
    <div class="content">
        <div id="map"></div>
        {% include data.html %}
    </div>
</div>

{% include footer.html %}
</body>
</html>